@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans400.woff) format('woff');
}

body{
  font-family:'Open Sans';
  font-size:0.7rem !important;
}
h1, h2, h3, h4, h5, h6, button, .button{
  font-family:'Open Sans';
}
label,input, select, button {
  font-size:0.8rem !important;
  font-family:'Open Sans';
}
.panel{
  padding:0;
}
label.warning{
  background-color:rgb(240,213,21);
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, white 0%, grey 100%, black 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, white, grey);
  background-image: radial-gradient(45px 45px 45deg, circle cover, white 0%, gray 100%, black 95%);

  animation-name: spin; 
  animation-duration: 3s; /* 3 seconds */
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
}
.circle.yellow{
 background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
 background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
 background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}
.circle.red{
 background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, red 0%, white 100%, black 95%);
 background-image: -webkit-radial-gradient(45px 45px, circle cover, red, rgb(255,50,100));
 background-image: radial-gradient(45px 45px 45deg, circle cover, red 0%, white 100%, black 95%);
}
.grid_item{
  background-color:#007095;
}
#history td{
  padding:5px;
}
#info td{
  padding:5px;
}
#back {
  cursor:pointer;
}
.col_head {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
